# Remove unnecessary compiled .o files
*.o

# Remove any temp files
*.~

# Remove anything in the maps directory
maps/*

# Remove compiled source as it takes up a lot of repo space
MapEditor
PlanetAusmus
